
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if debug %}
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
        </script>
        <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    <title>Django+react</title>
    {% else %}
    <script type="module" crossorigin src="{% static '/assets/index-D-Oukdi8.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static '/assets/index-Dc509DwC.css' %}">
    <div id="root"></div>
    {% endif %}
    
    

</head>
<body>
    <div id="root"></div>
</body>
</html>
